#span-connect {
    margin-right: .5em;
    font-size: 75px;
    opacity: 0;
}

#search-result {
    margin-bottom: 10px;
}

#search-title {
    text-align: center;
    margin: 5% 0 5% 0;    
}

#span-live {
    font-size: 75px;
    opacity: 0;    
}

#search-result-name {
    font-size: 1.5em;
    margin-bottom: 0;
}

.search-result-contents {
    margin-bottom: 0;
}

.errorlist {
    color: red;
}

#wellness-prof-map { 
    height: 400px;
    width: 400px;
}

@media screen and (max-width: 575px)
{
    #span-connect {
        font-size: 75px;
        margin-right: 0;
        opacity: 0;
        text-align: center;
    }

    #zipcode-main {
        margin-bottom: 10px;
        text-align: center;
    }

    #search-button-div {
        justify-content: center;
    }

    #main-tag-line {
        text-align: center;
    }
}