{% extends "search/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'prof/style.css' %}">
{% endblock stylesheet %}

{% block content %}
<div id="contact-prof-success-message" role="alert">  
</div>
<div id="prof-image-column" class="row mt-4">
    <div class="col-sm-6">
      <section class="prof-detail-section">
        <h2 id="prof-full-name">{{ prof.getFullName }}</h2>
        <p>
          {{ prof.getFullAddress }} <a href="http://maps.google.com/?q={{ prof.getFullAddress }}"><i class="fas fa-directions"></i></a>
        </p>        
        <div id="wellness-prof-detail-map"></div>
        <span id="prof-detail-latitude" class='prof-loc-lat' hidden>{{ prof.location_latitude }}</span>
        <span id="prof-detail-longitude" class='prof-loc-long' hidden>{{ prof.location_longitude }}</span>
      </section>
      <section class="prof-detail-section">
        <h3>Specialties</h3>
        <p>{{ prof.specialties }}</p>
      </section>
      <section class="prof-detail-section">
        <h3>Education</h3>
        <p class="detail-text">{{ prof.credentials }}</p>
      </section>      
      <section class="prof-detail-section">
        <h3>Mission Statement</h3>
        <p class="detail-text">{{ prof.bio }}</p>
      </section>        
    </div>
    <div class="col-sm-6 pb-3">
        <section class="prof-detail-section pt-2 pb-2">
          {% if prof.profile_pic %}
          <div class="row">
              <img id="prof-image-detail" src="{{ prof.profile_pic.url }}" alt="Image not found." class="img-fluid img-thumbnail mx-auto d-block">
          </div>
          {% endif %}
          <div class="row d-flex justify-content-center">
              <button id="send-message-modal" class="btn btn-primary mt-3">
                  Contact Me
              </button>
          </div>
        </section>
    </div>
    <div class="modal fade" id="contact-prof-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Contact {{ prof.getFullName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id='modal-contents' class="modal-body">
              <div class="container">
                <div id="contact-prof-result-message" class="alert alert-success fade show" role="alert">
                </div>
                <form id="contact-form" action="{% url 'prof:detail' prof.id %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ contactForm.first_name|add_class:"form-control"|attr:"placeholder:First Name" }}
                      <p id='error-first_name' class='modal-error'>{{ error }}</p>
                  </div>   
                  <div class="form-group">
                    {{ contactForm.last_name|add_class:"form-control"|attr:"placeholder:Last Name" }}
                      <p id='error-last_name' class='modal-error'>{{ error }}</p>
                  </div>  
                  <div class="form-group">
                    {{ contactForm.email|add_class:"form-control"|attr:"placeholder:Email" }}
                      <p id='error-email' class='modal-error'>{{ error }}</p>
                  </div>
                  <div class="form-group">
                    {{ contactForm.message|add_class:"form-control"|attr:"placeholder:Message" }}
                      <p id='error-message' class='modal-error'>{{ error }}</p>
                  </div>                                       
                </form>
              </div>
            </div>
              <button id='contact-form-submit' type="button" class="btn btn-primary">Send</button>  
            </div>
          </div>
        </div>
      </div>    
</div>
{% endblock content %}