#view-password-check {
    display: flex;
    align-items: center;
}

.password-matched {
    position: absolute;
    margin-top: 12px;
    margin-left: 36em;
    background-color:white;
    color: limegreen;
    display: none;
}

#signup-form {
    width: 65%;
}

#container-home-page > .row > p {
    color: #eff6fc;
    font-size: 2em;
}

@media screen and (max-width: 575px)
{
    #container-home-page > .row > p {
        text-align: center;
    }
    
}