{% extends "./base.html" %}
{% load static %}
{% load search_custom_tags %}

{% block title %}Professionals Found{% endblock title %}

{% block content %}
<h1 id='search-title'>Professional found near {{ zip }}</h1>
{% if professionals %}
<div class="row justify-content-center">
        <div id='search-result-column' class="col-sm overflow-auto">    
            <ul class="list-group" id="list-tab" role="tablist">
            {% for prof in professionals %}
                <a href="{% url 'prof:detail' prof.id %}" id='search-result' class="list-group-item list-group-item-action">
                    <div id="search-result-txt-block">
                        <p id='search-result-name'>{{ prof.getFullName }}</p>
                        <p class='search-result-contents'>{{ prof.getFullAddress }}</p>
                        <p class='search-result-contents'>{{ prof.profession }}</p>
                        <p class='search-result-distance'>{{ prof.miles }} miles</p> 
                    </div>
                    {% if prof.profile_pic %}  
                        <div>                    
                            <img id="prof-image" src="{{ prof.profile_pic.url }}" alt="Image not found." class="img-fluid mx-auto d-block"> 
                        </div>
                    {% endif %}                    
                    <span class='prof-loc-lat' hidden>{{ prof.location_latitude }}</span>
                    <span class='prof-loc-long' hidden>{{ prof.location_longitude }}</span>
                </a>
            {% endfor %}
            </ul>
        </div>
    <div class="col-sm">
        <div id="wellness-prof-map"></div>
    </div>  
</div>  
{% else %}
<div class="row justify-content-center">
    <p>No professional could be found in your area</p>
</div>
{% endif %}
{% endblock content %}

{% block jsvariables %}
<script>
    var userLat = "{{ userLat }}"
    var userLong = "{{ userLong }}"
</script>
{% endblock jsvariables %}