{% extends "./base.html" %}

{% block title %}Professionals Found{% endblock title %}

{% block content %}
<h1 id='search-title'>Professional found near: {{ zip }}</h1>
{% if professionals %}
<ul>
    <div class="row justify-content-center">
        <div class="col-md-6">    
            {% for prof in professionals %}
            <ul class="list-group" id="list-tab" role="tablist">
                <a href="{% url 'prof:detail' prof.id %}" id='search-result' class="list-group-item list-group-item-action">
                    <p id='search-result-name'>{{ prof.getFullName }}</p>
                    <p class='search-result-contents'>{{ prof.getFullAddress }}</p>
                    <p class='search-result-contents'>{{ prof.specialties }}</p>
                </a>
            </ul>
            {% endfor %}
        </div>
    </div>    
</ul>
{% else %}
<div class="row justify-content-center">
    <p>No professional could be found in your area</p>
</div>
{% endif %}
{% endblock content %}
