.detail-text {
    white-space: pre-wrap;
}

#prof-image {
    max-width: 70%;
}

#prof-image-column {
    align-items: center;
}

.modal-error {
    font-size: .8em;
    padding-top: 3px;
    color: red;
}