#navbar-content-toggle {
    justify-content: space-between;
    align-items: baseline;
}

.detail-text {
    white-space: pre-wrap;
}

#prof-image-detail {
    max-width: 70%;
    margin-top: 15px;
}

#prof-image-column {
    align-items: flex-start;
    margin: 5px;
    padding: 10px;
}

#contact-form-submit {
    width: 100px;
    margin: auto auto 20px auto;
}

.prof-detail-section {
    background-color: #eff6fcde;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.prof-detail-section > h2, .prof-detail-section > h3 {
    padding: 5px 10px;
}

.prof-detail-section > p {
    padding: 5px 10px;
}

.modal-error {
    font-size: .8em;
    padding-top: 3px;
    color: red;
}

#wellness-prof-detail-map {
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

section > ul > li:last-child {
    padding-bottom: 10px;
}

table {
    width: 100%;
}

.first-cell {
    padding-left: 10px;
}

.last-cell {
    padding-right: 10px;
}

table > tbody > tr:last-child > td {
    padding-bottom: 10px;
}

#hours-of-operation > p {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 575px)
{
    tbody {
        font-size: .7em;
    }
}