{% extends "search/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="row justify-content-center mt-3">
    <p>Please enter your information below to join!</p>
</div>
<div class="row justify-content-center mt-3">
    <form id="signup-form" action="{% url 'user:signup' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
            {% for error in form.username.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>   
        <div class="form-group">
            {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
        </div>
        <div class="form-group">
            {{ form.retype_password|add_class:"form-control"|attr:"placeholder:Retype Password" }}
        </div> 
        <div class="form-group">
            {{ form.email|add_class:"form-control"|attr:"placeholder:Email" }} 
        </div>       
        <div class="form-group">
            {{ form.firstName|add_class:"form-control"|attr:"placeholder:First Name" }} 
        </div>     
        <div class="form-group">
            {{ form.lastName|add_class:"form-control"|attr:"placeholder:Last Name" }}
            <div>{{ form.lastName.errors }}</div>
        </div>                                       
        <div class="form-group">
            {{ form.address_1|add_class:"form-control"|attr:"placeholder:Address" }} 
        </div>         
        <div class="form-group">
            {{ form.address_2|add_class:"form-control"|attr:"placeholder:Address Two" }} 
        </div>  
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.city|add_class:"form-control"|attr:"placeholder:City" }} 
            </div> 
            <div class="form-group col-md-2">
                {{ form.state|add_class:"form-control"|attr:"placeholder:State" }} 
            </div>            
            <div class="form-group col-md-4">
                {{ form.zipcode|add_class:"form-control"|attr:"placeholder:Zip" }} 
            </div>              
        </div>               
        <div class="form-group row justify-content-center">
            <button id="btnSearch" class="btn btn-outline-secondary" type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}